*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    
}
.apple-logo{
    width: 2rem;
    filter: invert(1);
}
.header{
    min-width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(189, 158, 158);
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.second-header{
    
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px ;
    min-width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(189, 158, 158);
    display: none;
}
.header-list{
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin:0px 90px ;
    list-style: none;
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}
header a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
}
header li {
    padding: 7px 0;
}
.unicef-section{ 
    background-color: rgb(247, 241, 241);
}
.unicef-section-div{

    display: grid;
    align-items: center;
    grid-template-columns:auto auto ;
    justify-content: center;
    padding: 15px; 
}
img {
    width: 130px;
}

.first-photo-section{
    height: 600px;
    background-image: url("https://www.apple.com/v/home/ao/images/heroes/iphone-13-pro/hero_iphone13pro_avail__iy77cld0zwii_largetall_2x.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center ; 
    background-color: white;
    display: grid;
    grid-template-rows: auto auto auto;
    place-content: center;
    align-content: flex-start;
    text-align: center;  
    padding-top: 90px;
}
.title{
    font-size: 56px;
}
.subtitle{
    font-size: 28px;
    font-weight: 400;
}
.link a {
    text-decoration: none;
    color: royalblue;
    padding: 10px;
    font-size: 18px;
}
.link {
    margin-top: 7px;
}
.second-photo-section{

    height: 700px;
    background-image: url("Second1-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    padding-top: 90px;
    background-color: white;
    display: grid;
    grid-template-rows: auto auto auto;
    place-content: center;
    align-content: flex-start;
    text-align: center; 
}

.second-section-items span{
    font-size: 21px;
    font-weight: 600;
}
.Dino-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*position: absolute;*/
    
}
.fourth-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 580px);  
    padding: 0.5rem;
    gap: 0.5rem;
}
.boxes{
    display: grid;
    grid-auto-rows: auto ;
    place-content: center;
    text-align: center;
    align-content: start;
    padding-top: 20% ;
}
.first-box{
    display: grid;
    position: relative;
}
.box1-video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.second-box{
    background-image: url("box2-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#orange-span{
    color:#bf4800 ;
    font-size: 19px;
    font-weight: 600;
}
.section4-h1{
    font-size: 32px;
    font-weight: 600;
}
.section4-h3{
    font-size: 19px;
    font-weight: 400;
}
.third-box{
    background-image: url("box3-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fourth-box{
    background-image: url("box4-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.apple-watch{
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    align-content: center;
}
.apple-watch img{
    filter: invert(0);
    width: 1.7rem;
}
h5{
    color: #cc2127;
}
.fifth-box{
    background-image: url("box5-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sixth-box{
    background-image: url("box6-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fifth-section ul {
    margin: 0 auto;
    max-width: 980px;
    margin-bottom: 20px;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.623);
    border-bottom: 1px solid rgba(0, 0, 0, 0.589);
}
.last-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    gap: 1rem;
    max-width: 980px;
    
}
.last-section ul{
    margin-bottom: 15px;
}
.last-section a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.651);
}
.last-section li {
    font: 13px sans-serif;
    list-style: none;
    padding: 5px ;
}



@media screen and (max-width:900px) {
    .header{
        display: none;
    }
    .second-header{
        display: grid;
    }
}
